---
os: linux
dist: xenial
language: ruby
cache: bundler
before_install:
  - bundle -v
  - rm -f Gemfile.lock
  - "# Update system gems if requested. This is useful to temporarily workaround troubles in the test runner"
  - "# See https://github.com/puppetlabs/pdk-templates/commit/705154d5c437796b821691b707156e1b056d244f for an example of how this was used"
  - "# Ignore exit code of SIGPIPE'd yes to not fail with shell's pipefail set"
  - '[ -z "$RUBYGEMS_VERSION" ] || (yes || true) | gem update --system $RUBYGEMS_VERSION'
  - gem --version
  - bundle -v
script:
  - 'SIMPLECOV=yes travis_wait 30 bundle exec rake $CHECK'
bundler_args: --without system_tests
rvm:
  - 2.5.7
stages:
  - static
  - spec
  - acceptance
jobs:
  fast_finish: true
  include:
    -
      env: CHECK="check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop syntax lint metadata_lint"
      stage: static
    -
      env: PUPPET_GEM_VERSION="~> 5.0" CHECK=parallel_spec
      rvm: 2.4.5
      stage: spec
    -
      env: PUPPET_GEM_VERSION="~> 6.0" CHECK=parallel_spec
      rvm: 2.5.7
      stage: spec
    -
      env: PUPPET_GEM_VERSION="~> 6.0.0" RSAPI_GEM_VERSION="~> 1.6.0" CHECK=parallel_spec
      rvm: 2.5.1
      stage: spec
branches:
  only:
    - main
    - /^v\d/
notifications:
  email: false
  slack:
    secure: wHaXmPndWJRp/38/UuzfwXnljWfCrP+VMpNN1wRZtGSShQ3zvsr42Bw8462YIhZDwe7rzW1T4Gvxk8r/ahfPxRBO/h5InJ9qxx4Bb8zcfXwQ+hjdE+b2apeSj3czn2XFy2vN3CGTdFCmZgvzEb14RmsJHYugNb6bbZ6qnBhyP2bObmifmACEiA1iWs53l+KosrB1ksA7pZ+QloOqhKL28cRXG14Kxa5GEzMxDfb0QDXzzcImx7fiNj2QoGKqhB4wb4UO3fsLuhINueduQc7Z9e7chaqzyqZ8sXoU98BOeKyTA/p8JIK53h51jlS0cpzOXSQGnPLYG0xd5HzYLcvsn299l/cse5fHbITIGN0Y2iJ3daVKB9TpLZrWhVwGQwLhs4ZQ03KkbnD6ARiegVqqSXKqh7W+7gLM6+nH3IUiZkKdDW6Mm3nu//RszfI8ESm9YokBk0ftY5BzE5bp65nrCLLUlc9yPRKGn8TXbCIB8OmEKTWoEutwYKVdzIetOWGrpUUsfjCkmeHunTJ8lT3fKFKqo1rQPkOH2Vvp2LrW1f80yems5N6DzrkUNuwkPFEhNUvqyLbkqW3Tm1UMe8+y0XawXsI0krt0VDSnjGZ2guGxBbY0jj9LToCk0oxQ9jCIz3TSWNTCL/eUndSHUnSwcNLrU/rTR35R3LLVwrhWRK0=
